<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="formating.css">
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<div class = centreWithBorder>
<h2 style="background-color:Tomato;">Welcome to Perk Managers Online Portal</h2>

<form action="http://localhost:8080/Register">
  <input type="submit" value="Register" />
</form>

<form action="http://localhost:8080/Login">
  <input type="submit" value="Login" />
</form>

<form action="http://localhost:8080/PerkSearch">
  <input type="submit" value="Perk Search" />
</form>

  <form action="http://localhost:8080/Index">
    <input type="submit" value="PS" />
  </form>

<form th:action="@{/availablePerksPage}" th:object="${PerkList}" method="post">
  <input type="submit" value="See Available Perks" />
</form>

  <form th:action="@{/availableProductsPage}" th:object="${ProductList}" method="post">
    <input type="submit" value="See Available Products" />
  </form>

</div>
</body>
</html>
