<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="background-color:Tomato;">All Available Perks</h1>

<p th:each="perk : ${PerkList.getPerks()}">
  Location: <b><span th:text="${perk.location}"/></b>
  Card: <b><span th:text="${perk.card}"/></b>
  MemberShip: <b><span th:text="${perk.membership}"/></b>
  discount: <b><span th:text="${perk.discount}"/></b>
</p>

<form id="" action="#" th:action="@{/PerkSearch}" th:object="${perkName}" method="post">
  <p>User Name: <input type="text" th:field="*{username}" id="userName" /></p>
</form>

<p>
  <span th:if="${}" </span>
        th:each="perk : ${PerkList.getPerks()}">
      Location: <b><span th:text="${perk.location}"/></b>
      Card: <b><span th:text="${perk.card}"/></b>
      MemberShip: <b><span th:text="${perk.membership}"/></b>
      discount: <b><span th:text="${perk.discount}"/></b>
</p>





</p>
<a href="/PerkManager">GO BACK</a>
</body>
</html>