<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Perk Handler </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</head>
<body>


<h2 style="background-color:Tomato;">Perk Search</h2>

<form action="/action_page.php">
  <input type="search" id="PSEARCH" name="name">
</form>

<p>Get the above element value by clicking the below button</p>
<button onclick="getValue()">Get Value</button>
<p id="Sample"></p>

<script>
  function getValue() {
    var t = document.getElementById("PSEARCH").value;
    document.getElementById("Sample").innerHTML = "The value for the input field is : "+t;
  }

</script>

<p th:each="perk: ${PerkList.getCard().equalsIgnoreCase(perks.)}">

</p>

<a href="/PerkManager">GO BACK</a>
</body>
</html>


