<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="formating.css">
  <title>Perk Search</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</head>
<body>

<div class = centreNoBorder>
<h2 style="background-color:Tomato;">Perk Search</h2>
<form action="#" th:action = "@{/PerkSearch}" th:object="${perks}" method="get">
  <div>
  <label>Search Perks:</label>
  <input type="search" id="pSearchID" name = "pSearchName" />
  </div>
  <div> <button>Submit</button>
  </div>
</form>


</p>
<a href="/PerkManager">GO BACK</a>
</div>
</body>
</html>