<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="formating.css">
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</head>
<body>
<div class = centreNoBorder>

  <h1 style="background-color:Yellow;">Upvote</h1>

  <br>
  <hr class="rounded">
  <br>
  <br>
  <h1 style="background-color:Tomato;">Upvote Perk</h1>
  <h1> UpVote Perk  : </h1>
  <p><span> <input type="button"  id="perkLocation" /></span></p>



  </p>


  </p>
  <a href="/PerkManager">GO BACK</a>
</div>
</body>
</html>