<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="formating.css">
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
</head>
<body>
<div class = centreNoBorder>
<h1 style="background-color:Tomato;">Account Overview</h1>
<p th:text="'You are loged in as: ' + ${userProfile.username}" ></p>


    <br>
    <hr class="rounded">

<p th:text="'Current Perk(s): '" ></p>

<p th:each="perk : ${userProfile.perks}">
    <b style="background-color:yellowgreen;">Perk Details:</b><br>
    Location: <b><span th:text="${perk.location}"/></b><br>
    Card: <b><span th:text="${perk.card}"/></b><br>
    MemberShip: <b><span th:text="${perk.membership}"/></b><br>
    discount: <b><span th:text="${perk.discount}"/></b><br>
    Votes: <b><span th:text="${perk.votes}"/></span></b><br><br>
</p>
    <hr class="rounded">
    <form action="http://localhost:8080/">
        <input type="submit" value="Add A new Perk you Own" />
    </form>

    <form th:action="@{/availablePerksPage}" th:object="${PerkList}" method="post">
        <input type="submit" value="See Available Perks" />
    </form>
    <form action="http://localhost:8080/createNewUserPerk">
        <input type="submit" value="Add A Perk" />
    </form>
<br><br>


<a href="/PerkManager">GO BACK</a>
</div>
</body>
</html>