<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
</head>
<body>
<h1 style="background-color:Tomato;">Account Overview</h1>
<p th:text="'User Name: ' + ${userProfile.username}" ></p>
<p th:text="'Password : ' + ${userProfile.password}" ></p>
<p th:text="'Id       : ' + ${userProfile.ID}" ></p>
<p th:text="'Current Perk(s): '" ></p>
<p th:text="'Perk Location(s) ' + ${PerkList.size()}" ></p>

<p th:each="perk : ${userProfile.perks}">
    Location: <b><span th:text="${perk.location}"/></b>
    Card: <b><span th:text="${perk.card}"/></b>
    MemberShip: <b><span th:text="${perk.membership}"/></b>
    Discount: <b><span th:text="${perk.discount}"/></b>
    Votes: <b><span th:text="${perk.votes}"/></span></b>
</p>




<a href="/PerkManager">GO BACK</a>
</body>
</html>